    <script src="../script/BNodesG/bibleNodes-7.js" async defer></script>
    <script src="../script/BNodesG/svgPathGeneratorFromTwoPoints-03.js" async defer></script>
    <script src="../script/BNodesG/bibleNodes-cMenuFunctions.js" async defer></script>
    <script src="../script/BNodesG/bibleNodes-contextMenu.js" async defer></script>
    <!-- <script src="../script/BNodesG/bibleNodes-findSVGpath.js" async defer></script> -->
    <script src="../script/BNodesG/bibleNodes-drawSVGlines-04.js" async defer></script>
    <script src="../script/BNodesG/reftager.js" async defer></script>
    <script src="../script/BNodesG/fileSaver.js" async defer></script>
    <script src="../script/BNodesG/saveBibleNodesToFile.js" async defer></script>
</body>

</html>