<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{page.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/BNodesG/bibleNodes.css">
</head>

<body>
    <div id="bibleNodesHeader">
        <button id="menuButton" onclick="navMenu()">Site Menu</button>
        <button id="saveButton" onclick="saveDynamicDataToFile()">SAVE</button>
        <h1 id="bibleNodesTitle" title='Double click to edit'>{{page.title}}</h1>
        <div id="websiteNav">
            <ol id="websiteNavMenu" style="display: none;">
                <h4 style="display: none;">
                    {% for page in site.pages %}{% if page.categories contains "HomePage-BibleNodeGraph" %}
                    <a id="timelinesHome"
                        href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">BibleNodeGraph
                        Home</a>
                    {% endif %}{% endfor %}
                </h4>
                {% for page in site.pages %}{% if page.categories contains "BibleNodeGraph" %}<li style="display: none;"><a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}
		        {% endif %}">{{page.title}}</a></li>
                {% endif %}{% endfor %}
            </ol>
        </div>
    </div>

    <!-- ContextMenu for rightClick on nodeCanvas but not on a divNode -->
    <div id="canvasCustomContextMenu" class="customContextMenu">
        <button id="contextMenuNewNode" onclick="createNewNode()">NewNode</button>
    </div>
    <!-- ContextMenu for rightClick on any divNode -->
    <div id="nodeDivCustomContextMenu" class="customContextMenu">
        <button id="contextMenuLink" onclick="nodeToConnectCurrentNodeTo()" tabindex="0">Link</button>
        <!-- <button id="contextMenuClone" onclick="cloneNodeDiv()" tabindex="0">Clone</button> -->
        <button id="contextMenuEdit" onclick="makeNodeDivEditable()" tabindex="0">Edit</button>
        <button id="contextMenuDelete" onclick="deleteNodeDiv()" tabindex="0">Delete</button>
        <button id="contextMenuDelete" onclick="addNote()" tabindex="0">Add Note</button>
    </div>
    <!-- ContextMenu for rightClick on any svgPath -->
    <div id="svgPathCustomContextMenu" class="customContextMenu">
        <button id="addLabelContextMenu" onclick="addLabelToPath()" tabindex="0">Add Label</button>
        <button id="deletePathContextMenu" onclick="deletePath()" tabindex="0">Delete</button>
        <button id="deletePathContextMenu" onclick="addNote()" tabindex="0">Add Note</button>
    </div>
    </div>
    <!-- ContextMenu for rightClick on any note -->
    <div id="notesCustomContextMenu" class="customContextMenu">
        <button id="deleteNoteBtn" onclick="deleteNote()" tabindex="0">Delete</button>
    </div>