---
layout: bibleStoryLineTEMPLATE
title: "Alienation"
categories: Timeline
---
<style id="divColorStyles"></style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">Before Time</h4></td>
									<td class="showingDetail dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" detailindex="1"><button class="localShowDetailButton" id="locDtlShowBtn_1" detailindex="1" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="false">Creation</h4></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">Flood</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">John the Baptist</h4></td>
									<td class="showingDetail dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">First Resurrection</h4></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><h4 contenteditable="false">Men Ignorant of God</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><h4 contenteditable="false">Men Know God</h4></td>
								</tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><h4 contenteditable="false">Nations</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
								</tr><tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
									
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"><h4 contenteditable="false">Old Sons</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"><h4 contenteditable="false">New Sons</h4></td>
								</tr><tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"><h4 contenteditable="false">Light</h4></td>
									
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"><h4 contenteditable="false">Darkness</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
								</tr><tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5"></td>
									
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="5" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5"></td>
								</tr><tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="6"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="6"></td>
									
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="6"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="6" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="6"></td>
								</tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
 
 
 
        <h1>Title</h1>
        <hr>
        <p>Master note</p>
    


{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		

      

      <div class="showDetail" id="detail_1" detailindex="1" contenteditable="true"><p></p></div>