---
layout: bibleStoryLineTEMPLATE
title: "Isaiah--Babylon and the Nations"
categories: Timeline
---
<style id="divColorStyles">.opt_Babylon{ background-color: PaleGreen; stroke: PaleGreen }.opt_Medes{ background-color: MediumBlue; stroke: MediumBlue }</style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1 col-2" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="0" ><h4 contenteditable="true">Babylon Reign</h4></td>
									
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" ></td>
									<td class="dragOverELAdded col-4 col-5" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="0" detailindex="1" ><h4 contenteditable="true">Day of Yahweh</h4></td>
									<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1" ></td>
								<td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1" ></td></tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ><div class="opt_Babylon draggableDiv nameLabelDiv dragEventListnerAdded dark-text" divclassname="Babylon" title="Babylon" draggable="true">Babylon</div></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ><div class="opt_Medes draggableDiv nameLabelDiv dragEventListnerAdded light-text" divclassname="Medes" title="Medes" draggable="true">Medes</div><div class="opt_Babylon draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Babylon" title="Babylon" draggable="true">Babylon</div></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1" ><div class="opt_Babylon draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Babylon" title="Babylon" draggable="true">Babylon</div></td><td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1" ></td>
								<td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1" ></td></tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" ></td><td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" ></td>
								<td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" ></td></tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		<div class="showDetail" id="detail_1" detailindex="1" contenteditable="false"><p></p></div>