---
layout: bibleStoryLineTEMPLATE
title: "Jesus and the Archangel Michael"
categories: Timeline
---
<style id="divColorStyles"></style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									
									<td class="dragOverELAdded col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8 col-9 col-10" originalcolspan="10" hiddencol_xs_count="0" colspan="10" rindex="0" detailindex="3" ><h4 contenteditable="false">Jesus is the Archangel Michael</h4></td>
									
									
									
								<td class="dragOverELAdded col-11" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1" ></td></tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1 col-2 col-3 col-4 col-5" originalcolspan="5" hiddencol_xs_count="0" colspan="5" rindex="1" ><h4 contenteditable="false">The Archangel Michael is the Angel of Yahweh</h4></td>
									<td class="dragOverELAdded col-6 col-7 col-8" originalcolspan="3" hiddencol_xs_count="0" colspan="3" rindex="1" ><h4 contenteditable="false">Jesus is the Angel of Yahweh</h4></td>
									<td class="dragOverELAdded col-9 col-10" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="1" ><h4 contenteditable="false">Jesus is the Angel of Yahweh</h4></td>
									
									<td class="dragOverELAdded col-11" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ></td>
								</tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" detailindex="1" ><h4 contenteditable="false">The Captain of Israel</h4></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" detailindex="2" ><h4 contenteditable="false">The Prince of Princes</h4></td><td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" ><h4 contenteditable="false">The Name of Yahweh<br></h4></td><td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" detailindex="4" ><h4 contenteditable="false">The One Who Gave Israel Rest</h4></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" detailindex="5" ><h4 contenteditable="false">The Law and the Temple<br></h4></td><td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" detailindex="6" ><h4 contenteditable="false">Direct Apostolic Statements</h4></td>
									<td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" detailindex="7" ><h4 contenteditable="false">The Glory of Yahweh<br></h4></td><td class="dragOverELAdded col-8" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" detailindex="8" ><h4 contenteditable="false">Gathering Israel</h4></td><td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" detailindex="9" ><h4 contenteditable="false">The Voice that Will Raise the Dead</h4></td>
									<td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" detailindex="10" ><h4 contenteditable="false">The One the Antichrist Opposes</h4></td>
									<td class="dragOverELAdded col-11" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
								</tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		<div class="hideDetail" id="detail_1" detailindex="1" contenteditable="false"><h1>The Captain of Israel</h1>
<hr>
<ol>
     <li>Michael is the Captain of Israel</li>
     <li>The AoY is the Captain of Israel</li>
</ol></div><div class="hideDetail" id="detail_2" detailindex="2" contenteditable="false"><h1>The Prince of Princes</h1>
<hr>
<p>The title, “Prince of Princes” is the same as “Lord of lords”. The Prince of princes is
</p>
<ol>
     <li>Jesus—the “Lord of lords” [Rev 17:14]</li>
     <li>Michael, the Prince of Israel—the “Prince of Princes” [Dan 8:25 cf., Dan 8:11]</li>
</ol>
</div><div class="hideDetail" id="detail_4" detailindex="4" contenteditable="false"><h1>The One Who Gave Israel Rest</h1>
<hr>
<p>God gave/promised to give Israel rest through</p>
<ol>
     <li>The Angel of Yahweh [Exo 23:20-23; 33:14-17; Judges 2:1-4; Isa 62:9]</li>
     <li>The Captain of the Host who is the Archangel Michael [Jos 5:16-15 cf., Exo 23:20-23; 33:14-17; Judges 2:1-4]
     <br><em>(Michael is the One who stands for Israel [Dan 12:1])</em></li>
</ol></div><div class="hideDetail" id="detail_5" detailindex="5" contenteditable="false"><h1>The Law and the Temple</h1>
<hr>
<p>The Law was given through, and the Temple was under the administration of</p>
<ol>
     <li>The Angel of Yahweh [Act 7:38; Mal 3:1]</li>
     <li>The Captain of the Host who is the Archangel Michael [Dan 8:11]]</li>
</ol></div><div class="hideDetail" id="detail_6" detailindex="6" contenteditable="false"><h1>Direct Apostolic Statements</h1>
<hr>
<p>The One who accompanied Israel in the wilderness is was&nbsp;</p>
<ol>
     <li>The Angel of Yahweh</li>
     <li>Christ [1Cor 10:3]</li>
</ol></div><div class="hideDetail" id="detail_7" detailindex="7" contenteditable="false"><h1>The Glory of Yahweh</h1>
<hr>
<p>The divine being referred to as “the Glory of Yahweh” was</p>
<ol>
     <li>The Angel of Yahweh</li>
     <li>The Lord Jesus Christ</li>
</ol></div><div class="hideDetail" id="detail_8" detailindex="8" contenteditable="false"><h1>The Gathering of Israel</h1>
<hr>
<p>The gathering of Israel is a personal concern to</p>
<ol>
     <li>The Angel of Yahweh <i>(Considering that he is their Captain and Lord and considering his relationship with Jacob, this is natural and expected)
</i></li>
     <li>The Lord Jesus [Mat 23]</li>
</ol></div><div class="hideDetail" id="detail_9" detailindex="9" contenteditable="false"><h1>The Voice that Will Raise the Dead</h1>
<hr>
<p>The One whose voice will raise the dead is</p>
<ol>
     <li>The Lord Jesus Christ [2Th ]</li>
     <li>The Voice of the Archangel Michael will raise the dead</li>
</ol></div><div class="hideDetail" id="detail_10" detailindex="10" contenteditable="false"><h1>The One the Antichrist Opposes</h1><hr>
<ol>
     <li>The “Prince of Princes“ whom the Antichrist <em>(i.e., the little horn of Daniel)</em> will oppose is Michael for he is the Prince of the Host of Israel [Dan 8:25 cf., Dan 8:11]</li>
     <li>The “Lord of Lords” whom the Antichrist <em>(i.e., the Beast of Revelation)</em> will oppose is the Lord Jesus Christ [Rev 17:13-14; 19:19]</li>
</ol></div>

      

      <div class="showDetail" id="detail_3" detailindex="3" contenteditable="true"><p></p></div>