---
layout: bibleStoryLineTEMPLATE
title: "Nations--Egypt"
categories: Timeline
---
<style id="divColorStyles">
    .opt_Nile{ background-color: MediumTurquoise; stroke: MediumTurquoise }
    .opt_Anti-Christ{ background-color: Black; stroke: Black }
    .opt_Christ{ background-color: Moccasin; stroke: Moccasin }
</style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" ><h4 contenteditable="true"><span lang="EN-US">Egypt
in the Past</span></h4></td>
									<td class="dragOverELAdded col-2 col-3 col-4" originalcolspan="3" hiddencol_xs_count="0" colspan="3" rindex="0" ><h4 contenteditable="true">Last Days</h4></td>
									
									
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" ></td>
								</tr><tr rowname="Time" title="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ><h4 contenteditable="true">Nile Flowing</h4></td>
									<td class="dragOverELAdded col-2 col-3" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="1" ><h4 contenteditable="true"><span lang="EN-US">Nile Dries Up</span></h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ><h4 contenteditable="true"><span lang="EN-US">Yahweh
Sends Egypt Rain</span></h4></td>
									
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ></td>
								</tr><tr rowname="Time" title="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ><h4 contenteditable="true"><br></h4></td>
									<td class="dragOverELAdded col-2 col-3" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="2" ><h4 contenteditable="true"><span lang="EN-US">Cruel
Master and Fierce King</span><br></h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ><h4 contenteditable="true"><span lang="EN-US">Egypt
Delivered from the Cruel Master and Fierce King</span><br></h4></td>
									
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
								</tr><tr rowname="Time" title="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ><h4 contenteditable="true"></h4></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ><h4 contenteditable="true"><span lang="EN-US">The
Egyptians Call to Yahweh for Help</span></h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ><h4 contenteditable="true"><span lang="EN-US">Yahweh
Sends the Egyptians a Deliverer</span></h4></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
								</tr>
							</thead>
							<tbody>
								
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ><div class="opt_Nile draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Nile" title="Nile" draggable="true">Nile</div></td>
									<td class="dragOverELAdded col-2 col-3" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="4" ><div class="opt_Nile draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Nile" title="Nile" draggable="true">Nile</div></td>
									
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ></td>
								</tr><tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ><div class="opt_Anti-Christ draggableDiv nameLabelDiv light-text dragEventListnerAdded" divclassname="Anti-Christ" title="Anti-Christ" draggable="true">Cruel King</div></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5"  detailindex="1"><div class="opt_Anti-Christ draggableDiv nameLabelDiv light-text dragEventListnerAdded" divclassname="Anti-Christ" title="Anti-Christ" draggable="true" >Cruel King</div><div class="opt_Christ draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Christ" title="Christ" draggable="true">Deliverer</div></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
								</tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		

      

      

      <div class="showDetail" id="detail_1" detailindex="1" contenteditable="true"><p></p></div>