---
layout: bibleStoryLineTEMPLATE
title: "Rom 5.12-21"
categories: Timeline
---
<style id="divColorStyles">.opt_Adam{ background-color: Red; stroke: Red }.opt_Eve{ background-color: Khaki; stroke: Khaki }.opt_Serpent{ background-color: LightCoral; stroke: LightCoral }.opt_Sin{ background-color: ForestGreen; stroke: ForestGreen }.opt_Death{ background-color: MistyRose; stroke: MistyRose }.opt_Moses{ background-color: LimeGreen; stroke: LimeGreen }.opt_Jesus{ background-color: LightSlateGray; stroke: LightSlateGray }.opt_Jesus{ background-color: PeachPuff; stroke: PeachPuff }</style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" ><h4 contenteditable="false"></h4></td>
									<td class="dragOverELAdded col-2 col-3 col-4 col-5 col-6 col-7 col-8" originalcolspan="7" hiddencol_xs_count="0" colspan="7" rindex="0" ><h4 contenteditable="false">Reign of Death</h4></td>
									
									
									
								<td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1" ><h4 contenteditable="false">Death is Destroyed</h4></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1" ></td></tr><tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ><h4 contenteditable="false">Creation</h4></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ><h4 contenteditable="false">Transgression</h4></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" ></td>
									<td class="dragOverELAdded col-4 col-5 col-6 col-7 col-8" originalcolspan="5" hiddencol_xs_count="0" colspan="5" rindex="1" ><h4 contenteditable="false">The Law</h4></td>
									
								<td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1" ><h4 contenteditable="false">The Law is Abolished</h4></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1" ></td></tr><tr rowname="Time" title="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" ></td>
									
								<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1" ></td><td class="dragOverELAdded col-6 col-7 col-8 col-9 col-10" originalcolspan="5" hiddencol_xs_count="0" rindex="2" colspan="5" ><h4 contenteditable="false">Grace</h4></td></tr><tr rowname="Time" title="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3" ></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1" ></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1" ></td><td class="dragOverELAdded col-8" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1" ><h4 contenteditable="false">1,000 Year Reign</h4></td><td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1" ></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1" ></td></tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ><div class="opt_Adam draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Adam" title="Adam" draggable="true">Adam</div></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ><div class="opt_Adam draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Adam" title="Adam" draggable="true">Adam</div><div class="opt_Eve draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Eve" title="Eve" draggable="true">Eve</div><div class="opt_Serpent draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Serpent" title="Serpent" draggable="true">Serpent</div></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ><div class="opt_Moses draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Moses" title="Moses" draggable="true">Moses</div></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4" ></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1" ><div class="opt_Jesus draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Jesus" title="Jesus" draggable="true">Jesus</div></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1" ></td><td class="dragOverELAdded col-8" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1" ></td><td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1" ></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1" ><div class="opt_Jesus draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Jesus" title="Jesus" draggable="true">Jesus</div></td></tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ><div class="opt_Sin draggableDiv nameLabelDiv light-text dragEventListnerAdded" divclassname="Sin" title="Sin" draggable="true">Sin</div><div class="opt_Death draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Death" title="Death" draggable="true">Death</div></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="5" ></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="5" colspan="1" ></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="5" colspan="1" ></td><td class="dragOverELAdded col-8" originalcolspan="1" hiddencol_xs_count="0" rindex="5" colspan="1" ></td><td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="5" colspan="1" ><div class="opt_Sin draggableDiv nameLabelDiv light-text dragEventListnerAdded" divclassname="Sin" title="Sin" draggable="true">Sin</div><div class="opt_Death draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Death" title="Death" draggable="true">Death</div></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="5" colspan="1" ></td></tr><tr rowname="Time" title="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="6" ><h4 contenteditable="false">None Died</h4></td>
									<td class="dragOverELAdded col-2 col-3" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="6" ><h4 contenteditable="false">Many Died</h4></td>
									
									<td class="dragOverELAdded col-4 col-5" originalcolspan="2" hiddencol_xs_count="0" colspan="2" rindex="6" ><h4 contenteditable="false">Many Trespasses</h4></td>
									
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="6" colspan="1" ></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="6" colspan="1" ></td><td class="dragOverELAdded col-8" originalcolspan="1" hiddencol_xs_count="0" rindex="6" colspan="1" ></td><td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="6" colspan="1" ></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="6" colspan="1" ></td></tr><tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="7" ></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="7" ></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="7" ></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="7" ></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="7" ></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="7" colspan="1" ></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="7" colspan="1" ></td><td class="dragOverELAdded col-8" originalcolspan="1" hiddencol_xs_count="0" rindex="7" colspan="1" ></td><td class="dragOverELAdded col-9" originalcolspan="1" hiddencol_xs_count="0" rindex="7" colspan="1" ></td><td class="dragOverELAdded col-10" originalcolspan="1" hiddencol_xs_count="0" rindex="7" colspan="1" ></td></tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		

      

      

      