---
layout: bibleStoryLineTEMPLATE
title: "Satan"
categories: Timeline
---
<style id="divColorStyles"></style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="true">Satan was in the Truth</h4><p contenteditable="true">Joh 8:44</p></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" detailindex="1"><button class="localShowDetailButton" id="locDtlShowBtn_1" detailindex="1" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">Satan Rejects the Truth</h4><p contenteditable="true">Joh 8:44</p></td>
									<td class="dragOverELAdded col-3 col-4 col-5 col-6 showingDetail clicked" originalcolspan="4" hiddencol_xs_count="0" colspan="4" rindex="0" detailindex="3"><button class="localShowDetailButton" id="locDtlShowBtn_3" detailindex="3" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">Satan is the Prince of this World</h4><p contenteditable="true">Joh 12:31; Luk 4:6</p></td>
									
									
								<td class="col-7 dragOverELAdded" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1"></td></tr><tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><h4 contenteditable="true">Satan Lied</h4><p contenteditable="true">Joh 8:44</p></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1" detailindex="2"><button class="localShowDetailButton" id="locDtlShowBtn_2" detailindex="2" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">Satan Accuses Jesus</h4><p contenteditable="true">Joh 14:30-31</p></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><h4 contenteditable="true">Satan Prompts Judas to Betray Jesus</h4><p contenteditable="true">Joh 13:2</p></td>
									<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><h4 contenteditable="true">Satan Tries Jesus</h4><p contenteditable="true">Joh 14:30-31</p></td>
								<td class="col-7 dragOverELAdded" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1"></td></tr><tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><h4 contenteditable="true">Satan Murdered</h4><p contenteditable="true">Joh 8:44</p></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><h4 contenteditable="true">Satan is Condemned</h4></td>
								<td class="col-7 dragOverELAdded" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1"></td></tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
									<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="3"></td>
								<td class="col-7 dragOverELAdded" originalcolspan="1" hiddencol_xs_count="0" rindex="3" colspan="1"></td></tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1"></td><td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
									<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="4"></td>
								<td class="col-7 dragOverELAdded" originalcolspan="1" hiddencol_xs_count="0" rindex="4" colspan="1"></td></tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		

      <div class="hideDetail" id="detail_1" detailindex="1" contenteditable="false"><h1>Satan Rejects the Truth</h1>
<hr>
<blockquote>You belong to your father, the devil, and you want to carry out your father’s desire. He was a murderer from the beginning, not holding to the truth, for there is no truth in him. When he lies, he speaks his native language, for he is a liar and the father of lies. [Joh 8:44]</blockquote>
<ol>
    <li>Satan rejects the truth and this led to</li>
   <li>Satan lying--of course, if you reject the Truth you won't be telling the Truth</li>
   <li>Murder! Satan murdered as a consequence of his rejection of the truth</li>
</ol>

<h1>What Truth did Satan Reject?</h1>
<hr>
<p>Is this about the Garden of Eden, God's word that man would die if he ate of the tree of the knowledge of good and evil?</p></div>

      

      <div class="hideDetail" id="detail_2" detailindex="2" contenteditable="false"><h1>Satan Accuses Jesus</h1>
<hr>

<blockquote>I will not speak with you
much longer, for the prince of this world is coming.
He has no hold on me, <sub>31</sub>but the world must learn
that I love the Father and that I do exactly what my
Father has commanded me. [Joh 14:30-31]<br></blockquote>

<p>Clearly, from Jesus' words, Satan in Heaven challenges Jesus' submission to the Father. Just as he challenged Job's loyalty to God, he clearly challenged Jesus' loyalty.<br>
Jesus said the world had to know that he did everything that the Father commanded.<br>
Clearly, then the issue was whether Jesus would keep the Father's command, even if it was to give up his very life</p></div>

      <div class="showDetail" id="detail_3" detailindex="3" contenteditable="false"><p></p></div>