---
layout: bibleStoryLineTEMPLATE
title: "The Devil"
categories: Timeline
---
<style id="divColorStyles">.opt_Satan { background-color: black; stroke: black; }</style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">Creation</h4></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">Transgression</h4></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="false">Eden</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"></td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1 showingDetail" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" detailindex="1"><p contenteditable="false">He appears to be one of the morning stars [Isa 14:12] that shouted for joy [Job 38:4-7]</p><button class="localShowDetailButton" id="locDtlShowBtn_1" detailindex="1" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><div class="opt_Satan draggableDiv nameLabelDiv dragEventListnerAdded light-text" divclassname="Satan" title="Satan" draggable="true">Satan</div></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><div class="opt_Satan draggableDiv nameLabelDiv dragEventListnerAdded light-text" divclassname="Satan" title="Satan" draggable="true">Satan</div></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
								</tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"></td>
								</tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		<div class="showDetail" id="detail_1" detailindex="1" contenteditable="true"><h1>Satan At the Creation</h1>
<ol>
    <li>He witnessed the creation of the world <em>(He appears to be one of the morning stars [Isa 14:12] that shouted for joy [Job 38:4-7])</em></li><li>He was in <em>(or was exposed to)&nbsp;</em>the Truth <em>(but later left it--"he did not remain in the truth" [Joh 8:44])</em></li>
</ol></div>