---
layout: bibleStoryLineTEMPLATE
title: "Zechariah Angels and Aliases"
categories: Timeline
---
<style id="divColorStyles">.opt_GuidingAngel { background-color: darkturquoise; stroke: darkturquoise; }.opt_Zechariah { background-color: coral; stroke: coral; }.opt_RedHorseAngel { background-color: fuchsia; stroke: fuchsia; }.opt_YahwehSabaoth { background-color: darksalmon; stroke: darksalmon; }.opt_SurveyorAngel{ background-color: LightPink; stroke: LightPink }.opt_AngelOfYahweh{ background-color: MidnightBlue; stroke: MidnightBlue }</style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
							<thead>
								<tr rowname="Time">
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0"><h4 contenteditable="true">Angels</h4></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" detailindex="3"><button class="localShowDetailButton" id="locDtlShowBtn_3" detailindex="3" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">Explaining the Colored Horses</h4></td>
									<td class="clicked dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" detailindex="2"><button class="localShowDetailButton" id="locDtlShowBtn_2" detailindex="2" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">The Prayer for Jerusalem and the Answer's Recipient&nbsp;</h4></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" detailindex="1"><button class="localShowDetailButton" id="locDtlShowBtn_1" detailindex="1" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">The Surveyor</h4></td>
									<td class="clicked dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="0" detailindex="4"><button class="localShowDetailButton" id="locDtlShowBtn_4" detailindex="4" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><h4 contenteditable="true">Relationship to God's People</h4></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1"></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="0" colspan="1"></td></tr>
							</thead>
							<tbody>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><p contenteditable="true">I asked, “What are these, my lord?” The angel who was talking with me answered, “<strong>I will show you what they are.</strong>” [Zec 1:9]</p><div class="opt_GuidingAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="GuidingAngel" title="GuidingAngel" draggable="true">Guiding Angel</div><div class="opt_Zechariah draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="Zechariah" title="Zechariah" draggable="true">Zechariah</div></td>
									<td class="showingDetail dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><p contenteditable="true">Then the angel of <strong>Yahweh</strong> said, “<strong>Yahweh Sabaoth, how long</strong> will you withhold mercy from Jerusalem and from the towns of Judah, which you have been angry with these seventy years?” [Zec 1:12]</p><div class="opt_RedHorseAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="RedHorseAngel" title="RedHorseAngel" draggable="true">Angel of Yahweh</div><div class="opt_YahwehSabaoth draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="YahwehSabaoth" title="YahwehSabaoth" draggable="true">Yahweh Sabaoth</div></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1"><p contenteditable="true">Then I looked up-and there before me was a man with a measuring line in his hand! 2I asked, “<strong>Where are you going?</strong>” <u>He answered me</u>, “To measure Jerusalem, to find out how wide and how long it is.” [Zec 2:1-2]</p><div class="opt_SurveyorAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="SurveyorAngel" title="SurveyorAngel" draggable="true">Surveyor Angel</div></td>
									<td class="dragOverELAdded col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="1" detailindex="6"><button class="localShowDetailButton" id="locDtlShowBtn_6" detailindex="6" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button><p contenteditable="true">His prayer and God answering him shows that he has the right, and so the duty, to intercede for Jerusalem [Zec 1:12-13]</p>
    
    <div class="opt_RedHorseAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="RedHorseAngel" title="RedHorseAngel" draggable="true">Red Horse Angel</div></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1"></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="1" colspan="1"></td></tr>
								<tr>
									<td class="dragOverELAdded col-1" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><div class="opt_RedHorseAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="RedHorseAngel" title="RedHorseAngel" draggable="true">Angel of Yahweh</div><div class="opt_GuidingAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="GuidingAngel" title="GuidingAngel" draggable="true">Guiding Angel</div><div class="opt_SurveyorAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="SurveyorAngel" title="SurveyorAngel" draggable="true">Surveyor Angel</div></td>
									<td class="dragOverELAdded col-2" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><p contenteditable="true">Then the man standing among the myrtle trees explained, “<strong>They are the ones Yahweh has sent to go throughout the earth.</strong>” [Zec 1:10]</p><div class="opt_RedHorseAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="RedHorseAngel" title="RedHorseAngel" draggable="true">Red Horse Angel</div></td>
									<td class="dragOverELAdded col-3" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><p contenteditable="true">So <strong>Yahweh</strong> spoke kind and comforting words <strong>to the angel who talked with me</strong>. [Zec 1:13]</p><div class="opt_GuidingAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="GuidingAngel" title="GuidingAngel" draggable="true">Guiding Angel</div><div class="opt_YahwehSabaoth draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="YahwehSabaoth" title="YahwehSabaoth" draggable="true">Yahweh Sabaoth</div></td>
									<td class="dragOverELAdded col-4" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2"><p contenteditable="true">Then <strong>the angel who was speaking to me left</strong>, and another angel came to meet him 4and said to him: “Run, tell that young man...” [Zec 2:3-4]</p><div class="opt_SurveyorAngel draggableDiv nameLabelDiv dark-text dragEventListnerAdded" divclassname="SurveyorAngel" title="SurveyorAngel" draggable="true">Angel Who Spoke</div></td>
									<td class="dragOverELAdded showingDetail col-5" originalcolspan="1" hiddencol_xs_count="0" colspan="1" rindex="2" detailindex="5"><button class="localShowDetailButton" id="locDtlShowBtn_5" detailindex="5" title="Show notes and details of selected events" onclick="toggleDetailsSection()">+</button>

<p contenteditable="true">* He is over the High Priest and so is over the Law, the Temple and the people of God [Zec 3:1-2,4]
    <br>* He delivered the high priest from his sins [Zec 3:4]</p>


    <div class="opt_AngelOfYahweh draggableDiv nameLabelDiv light-text dragEventListnerAdded" divclassname="AngelOfYahweh" title="AngelOfYahweh" draggable="true">Angel of Yahweh</div></td>
								<td class="dragOverELAdded col-6" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1"></td><td class="dragOverELAdded col-7" originalcolspan="1" hiddencol_xs_count="0" rindex="2" colspan="1"></td></tr>
							</tbody>
						</table>

{% include BStL-masterTableEND.html %}
 
 
 
 
 
 
        <h1>Identifying the Angels of Zechariah's Vision</h1>
        <hr>
        <p>One of the main issues with Zechariah in the first visions is the identity/count of angels. For example, in the first vision is there just one angel under different names or are there two angels?</p><p>In this timeline, I try to establish clear connections between one angel and the other and showing them as the same or otherwise.</p><p>If two angels fall under the same column, then they are the same.</p>
    





{% include BStL-detailsSection-Buttons.html %}

	<div id="detailsSummary" class="scrollbar-custom">

		

      <div class="hideDetail" id="detail_1" detailindex="1" contenteditable="false"><h1>The Surveyor Angel and the Angel Who Spoke with Zechariah</h1>
<hr>
<p>The above descriptions in the above in the third vision are of the same angel. We conclude from the following observations,</p>
<ol>
    <li>The Surveyor Angel spoke with Zechariah [Zec 2:2]. Therefore, "the angel who spoke with me" would be referring to the Surveyor Angel.</li>
    <li>The surveyor Angel was going away from Zechariah <em>(Zechariah had asked him. "Where are you going?" [Zec 2:2])</em>. The Angel who spoke with Zechariah was also leaving for Zechariah before he was met by another Angel who directed to go back to Zechariah [Zec
2:3].</li>
</ol></div><div class="hideDetail" id="detail_2" detailindex="2" contenteditable="false"><h1>Just One Angel in the First Vision--02</h1>
<hr>
<p>Yahweh spoke to the Angel who spoke to Zechariah [Zec 1:13] as though he was the one who had petitioned God about Jersualem [Zec 1:12].</p>
<p>This again shows&nbsp;<u>the Angel on the Red Horse</u> to be the same as “<u>the Angel who spoke to...</u>” Zechariah.</p></div>

      <div class="hideDetail" id="detail_3" detailindex="3" contenteditable="false"><h1>Just One Angel in The First Vision--01</h1>
<hr>
<p>The promise of “<u>the Angel who spoke to...</u>” Zechariah <em>(to show Zechariah what the <span>Coloured</span>&nbsp;Horses were [Zec 1:9])&nbsp;</em>was fulfilled by the Angel of on the Red Horse <em>(who explained what they were to Zechariah [Zec 1:10])</em>.</p><p><br></p></div>

      

      <div class="hideDetail" id="detail_4" detailindex="4" contenteditable="false"><h1>Involvement and Relationship To God's People</h1>
<hr>
<ol>
    <li>The prayer of the Angel on the Red Horse for Jerusalem and God answering him with "kind and comforting words" shows that he has a personal relationship with Jerusalem and God's people.</li>
    <li>In the same way, the Angel of Yahweh before whom Joshua the high priest stood demonstrated a personal involvement with Jerusalem and God's people.</li><ol><li>The high priest standing before him and he overseeing his change of clothes shows that the high priest, and so the Law, and so God's people were under him. [Zec 3:1,4]</li><li>His rebuke of Satan reveals a personal interest in Jerusalem [Zec 3:1-3</li></ol>
</ol></div><div class="showDetail" id="detail_5" detailindex="5" contenteditable="false"><p contenteditable="true">Then he showed me <strong>Joshua the high priest standing before the Angel of Yahweh</strong>, and Satan standing at his right side to accuse him. 2Yahweh said to Satan, “Yahweh rebuke you, Satan! Yahweh, who has chosen Jerusalem, rebuke you! Is not this man a burning stick snatched from the fire?” [Zec 3:1-2]</p>
    <p contenteditable="true">The <strong>Angel</strong> said to those who were standing before him, “Take off his filthy clothes.” Then he said to Joshua, “<strong>See, I have taken away your sin, and I will put rich garments on you.</strong>” [Zec 3:4]</p></div><div class="hideDetail" id="detail_6" detailindex="6" contenteditable="false"><p>Then the Angel of Yahweh said, “<strong>Yahweh Sabaoth, how long will you withhold mercy from Jerusalem and from the towns of Judah, which you have been angry with these seventy years?”</strong> <sub>13</sub>So Yahweh spoke kind and comforting words to the angel who talked with me. [Zec 1:12-13]</p></div>

      